html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #326295;
  font-family: sans-serif;
  text-align: center;
  color: #e5ffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
}
@media (min-width: 800px) {
  body {
      font-size: 18px;
  }
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

svg {
  fill: #e5ffff;
  height: 0.8em;
}

img {
  pointer-events: none;
}

header, footer {
  background-color: #19497c;
  background-image: url("/img/grid.png");
  border-top: solid 1px #658fc6;
  border-bottom: solid 1px #658fc6;
}

.face {
  height: 128px;
  display: block;
  margin: 0em auto -2em;
  border: 2px solid #658fc6;
  border-radius: 100%;
}

main {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
}
@media (min-width: 800px) {
  main{ 
      width: 700px;
  }
}

h1, h2 {
  font-size: 2em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  line-height: 1;
}

h3, h4 {
  color: #658fc6;
  font-weight: bold;
  margin-bottom: 0.2em;
  line-height: 1;
}
h3 {
  font-size: 1.4em;
  margin-top: 2em;
}

ul {
  padding-left: 1em;
}

a {
  color: #e5ffff;
  text-decoration: none;
  border-bottom: solid 1px #658fc6;
}
a:hover, a:focus {
  border-bottom: solid 1px #e5ffff;
}

.nav {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3em;
}
.nav li {
  display: inline;
}
.nav a {
  display: inline-block;
  border-top: solid 1px #658fc6;
  border-bottom-style: none;
  padding-top: 0.8em;
  padding-bottom: 2em;
  margin-left: 0;
  margin-right: 0.7em;
  width: 8em;
  text-align: left;
  color: #e5ffff;
  font-weight: bold;
  text-decoration: none;
}
.nav a:hover, .nav a:focus {
  border-top: solid 1px #e5ffff;
  border-bottom-style: none;
}
.nav small {
  display: block;
  font-size: 0.7em;
  font-weight: normal;
  color: #658fc6;
}

footer {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 0.7em;
  color: #658fc6;
}
footer a {
  color: #e5ffff;
  border-bottom: solid 1px #658fc6;
}
footer a:hover, footer a:focus {
  border-bottom: solid 1px #e5ffff;
}

textarea, input {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #658fc6;
  background-color: #326295;
  color: #e5ffff;
}

textarea {
  height: 15em;
  resize: none;
}

textarea:focus, input[type=text]:focus {
  background-color: #19497c;
}

input[type=submit] {
  background-color: #658fc6;
  color: #e5ffff;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #19497c;
}

::placeholder {
  color: #658fc6;
}
