<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ pkg.description }}">
    <meta property="og:image" content="{{ pkg.homepage }}/img/meta/background.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include "css/style.css" %}</style>
    <title>Pranas Ziaukas</title>
  </head>
  <body>
    <article>
      {% include "layout/header.njk" %}

      <main>
      <img class="face" alt="Pranas Ziaukas" src="img/face.jpg">
      {{ content | safe }}
      </main>

      {% include "layout/footer.njk" %}
    <article>
  </body>
</html>
