<footer>
  <p>
    Version {{ pkg.version }},
    find the full source code on <a href="{{ pkg.repository.url }}">GitLab</a>.
  </p>
  <p>
    &copy; <a href="mailto:pranas@ziaukas.lt">Pranas Žiaukas</a>, {{ page.buildYear }}.
  </p>
</footer>
