<header>
  <ul class="nav">
    <li>
      <a href="/">{% include "icon/home-solid.svg" %} home<small>starting page</small></a>
    </li>
    <li>
      <a href="{{ external.cv }}" target="_blank" rel="noopener noreferrer">{% include "icon/file-pdf-solid.svg" %} résumé<small>an old fashioned file</small></a>
    </li>
    <li>
      <a href="{{ external.linkedin }}" target="_blank" rel="noopener noreferrer">{% include "icon/linkedin-brands.svg" %} LinkedIn<small>professional profile</small></a>
    </li>
    <li>
      <a href="{{ external.gitlab }}" target="_blank" rel="noopener noreferrer">{% include "icon/gitlab-brands.svg" %} GitLab<small>code samples</small></a>
    </li>
  </ul>
  <!--<h1>Pranas Ziaukas</h1>-->
  <!--<p class="subtitle">Who am I?</p>-->
</header>
