---
permalink: _redirects
---
/cv        /resume                  301!
/resume    {{ external.cv }}        301!
/linkedin  {{ external.linkedin }}  301!
/gitlab    {{ external.gitlab }}    301!

/thesis    {{ external.thesis }}    301!
/papers    {{ external.papers }}    301!

https://ziaukas-lt.netlify.com/*  https://www.ziaukas.lt/:splat  301!
